body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

/* Title */
h1 {
  margin-bottom: 20px;
  color: #333;
}

/* Input and button */
#todotask {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

#addbtn {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

#addbtn:hover {
  background-color: #45a049;
}

/* Task list */
#tasklist {
  list-style: none;
  width: 100%;
  padding: 0;
  margin-top: 15px;
}

#tasklist li {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.completed {
  text-decoration: line-through;

  color: rgb(44, 89, 138);
  background-color: rgb(215, 231, 250);
}

#tasklist button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}
#clearAll {
  background-color: #a83ce7;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

#tasklist button:hover {
  background-color: #c0392b;
}
